* {
    box-sizing: border-box;
}

body{
    margin: 0;
}

.main-header{
    width: 100%;
    background: teal;
    padding: 8px 16px;
}

.main-header > div{
    display: inline-block;
    vertical-align: middle;
}

.main-header__brand{
    color: seashell;
    text-decoration: none;
    font-weight: bold;
    font-size: 22px;
}

.main-nav{
    display: inline-block;
    text-align: right;
    width: calc(100% - 69px);
    vertical-align: middle;
}

.main-nav__items{
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item{
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item a{
    text-decoration: none;
    color: seashell;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active{
    color: white;
    border-bottom: 0.5px solid white;
}